.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.idea
vagrant/puppet/.tmp/
/vagrant/puppet/Puppetfile.lock
!/vagrant/puppet/.gitkeep
/vagrant/puppet/.librarian/
/vagrant/puppet/modules/*
